In [46]:
!pip install numpy

Collecting numpy
  Downloading numpy-1.22.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     |████████████████████████████████| 16.8 MB 3.2 MB/s eta 0:00:01     |███████████████████████████████▏| 16.4 MB 3.2 MB/s eta 0:00:01
Installing collected packages: numpy
Successfully installed numpy-1.22.3

In [17]:
from pyspark.sql import SparkSession

In [47]:
import numpy as np

In [18]:
spark = SparkSession.builder.appName("test2").getOrCreate()

In [19]:
spark

In [20]:
rdd = spark.sparkContext.textFile("Assignment2/input.txt")

In [21]:
rdd.collect()

['user9,m1,5',
 'user8,m2,4',
 'user1,m1,2',
 'user1,9',
 'user1,m1,2',
 'user2,m2,3',
 'user2,m3,5',
 'user3,m3,4',
 'user6,m3,4',
 'user7,m3,3',
 'user3,king',
 'user4,m1,3',
 'user5,m2,5',
 'user6,m4,5',
 'user7,m5,5',
 'user1',
 'user3,m3,5',
 'user4,m4,1']

In [23]:
def isComplete(record):
    if(len(record.split(',')) == 3):
       return record

In [24]:
#collect complete records
records_complete = rdd.filter(isComplete)

In [25]:
records_complete.collect()

['user9,m1,5',
 'user8,m2,4',
 'user1,m1,2',
 'user1,m1,2',
 'user2,m2,3',
 'user2,m3,5',
 'user3,m3,4',
 'user6,m3,4',
 'user7,m3,3',
 'user4,m1,3',
 'user5,m2,5',
 'user6,m4,5',
 'user7,m5,5',
 'user3,m3,5',
 'user4,m4,1']

In [36]:
#mapper
def mapper(record):
    tokens = record.split(',')
    key = tokens[1]
    value = int(tokens[2])
    return (key, value)

In [37]:
a = mapper('user9,m1,5')
a

('m1', 5)

In [40]:
pairs = records_complete.map(mapper)

In [41]:
pairs.collect()

[('m1', 5),
 ('m2', 4),
 ('m1', 2),
 ('m1', 2),
 ('m2', 3),
 ('m3', 5),
 ('m3', 4),
 ('m3', 4),
 ('m3', 3),
 ('m1', 3),
 ('m2', 5),
 ('m4', 5),
 ('m5', 5),
 ('m3', 5),
 ('m4', 1)]

In [49]:
import math

In [51]:
def mean(grouped_rec):
    return sum(grouped_rec)/len(grouped_rec)

In [52]:
pairs.groupByKey().mapValues(lambda values : mean(values)).collect()

[('m3', 4.2), ('m4', 3.0), ('m5', 5.0), ('m1', 3.0), ('m2', 4.0)]

In [54]:
pairs.reduceByKey(lambda a,b: a+b).collect()

[('m3', 21), ('m4', 6), ('m5', 5), ('m1', 12), ('m2', 12)]

In [55]:
spark.stop()